---
layout: default
title: Home
---

{% include header-home.html %}
<div class="container-full">
  <div class="container grid-xl">
    <div class="columns negative-m-s">
      {% for service in site.data.services %}
      <div class="column col-12 col-md-6 col-lg-4 my-1">
        <a href="{{ service.link }}">
          <div class="card card-link shadow">
            <div class="card-body text-center my-4">
              <div class="mb-3">
                <img class="icon-tabler" src="/assets/tabler-icons/icons/{{ service.icon }}.svg" alt="{{ industry.name }}"/>
              </div>
              <h5 class="text-bold">{{ service.name }}</h5>
              <p class="m-0">{{ service.description }}</p>
            </div>
          </div>
        </a>
      </div>
      {% endfor %} 

      {% include industries.html %}

      {% include blog-front-page.html %}

    </div>
  </div>
</div>

<style>

.icon-tabler {
  width: 4em;
  height: 4em;
}

</style>