<!-- Pagination
================================================== -->
<div class="bottompagination my-3">
  <div class="pointerup text-center">
    <a href="#top">
      <img src="/assets/tabler-icons/icons/caret-up.svg" alt="Arrow Up" title="Back to Top" />
      </a>
  </div>
  <span class="navigation" role="navigation">
      <hr>
      {% if total_pages > 1 %}
      <div class="pagination">
          {% if current_page > 1 %}
              {% if current_page == 2 %}
                  <a class="ml-1 mr-1" href="/blog/">&laquo; Prev</a>
              {% else %}
                  <a class="ml-1 mr-1" href="/blog/page{{ current_page | minus: 1 }}/">&laquo; Prev</a>
              {% endif %}
          {% else %}
              <span>&laquo; Prev</span>
          {% endif %}

          {% for page_num in (1..total_pages) %}
              {% if page_num == current_page %}
                  <span class="ml-1 mr-1">{{ page_num }}</span>
              {% elsif page_num == 1 %}
                  <a class="ml-1 mr-1" href="/blog/">{{ page_num }}</a>
              {% else %}
                  <a class="ml-1 mr-1" href="/blog/page{{ page_num }}/">{{ page_num }}</a>
              {% endif %}
          {% endfor %}

          {% if current_page < total_pages %}
              <a class="ml-1 mr-1" href="/blog/page{{ current_page | plus: 1 }}/">Next &raquo;</a>
          {% else %}
              <span>Next &raquo;</span>
          {% endif %}
      </div>
      {% endif %}
  </span>
  
</div>