<!-- Pagination
================================================== -->
<div class="bottompagination my-3">
  <div class="pointerup text-center">
    <a href="#top">
      <img src="/assets/tabler-icons/icons/caret-up.svg" alt="Arrow Up" title="Back to Top" />
      </a>
  </div>
  <span class="navigation" role="navigation">
      <hr>
      {% if total_pages > 1 %}
      <ul class="pagination">
      
          {% if current_page > 1 %}
              {% if current_page == 2 %}
                  <li class="page-item"><a class="ml-1 mr-1 page-link" href="/blog/">&laquo; Prev</a></li>
              {% else %}
                  <li class="page-item"><a class="ml-1 mr-1 page-link" href="/blog/page{{ current_page | minus: 1 }}/">&laquo; Prev</a></li>
              {% endif %}
          {% else %}
              <li class="page-item">&laquo; Prev</li>
          {% endif %}

          {% for page_num in (1..total_pages) %}
              {% if page_num == current_page %}
                  <li class="page-item"><span class="ml-1 mr-1 page-item disabled">{{ page_num }}</span></li>
              {% elsif page_num == 1 %}
                  <li class="page-item"><a class="ml-1 mr-1 page-link" href="/blog/">{{ page_num }}</a></li>
              {% else %}
                  <li class="page-item"><a class="ml-1 mr-1 page-link" href="/blog/page{{ page_num }}/">{{ page_num }}</a></li>
              {% endif %}
          {% endfor %}

          {% if current_page < total_pages %}
              <li class="page-item"><a class="ml-1 mr-1 page-item page-link" href="/blog/page{{ current_page | plus: 1 }}/">Next &raquo;</a></li>
          {% else %}
              <li class="page-item">Next &raquo;</li>
          {% endif %}
      </ul>
      {% endif %}
  </span>
  
</div>